<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Repota</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>

<body>
    <span class="nav-lines">
        <div class="line1"></div>
        <div class="line"></div>
        <div class="line"></div>
    </span>
    <div class="repota-text">
        <h2>REPOTA</h2>
    </div>
    <div class='banner'>

    </div>
</body>

</html>