.repota-text {
    margin-left: 40%;
    margin-top: -92px;
    width: 256px;
    height: 96px;
    color: #191dbf;
    font-family: Shrikhand;
    font-size: 48px;
    font-weight: 400;
    line-height: 70px;
    text-align: center;
}

.nav-lines {
    padding-top: 20px;
    /* width: 61px; */
    /* height: 36px; */
}

.line {
    margin-top: 5px;
    width: 61px;
    height: 3px;
    background-color: #191dbf;
    border: 1px solid #191dbf;
}

.line1 {
    margin-top: 18px;
    width: 61px;
    height: 3px;
    background-color: #191dbf;
    border: 1px solid #191dbf;
}